.contextual-update {
    position: relative;

    .row {
        margin-bottom: var(--spacing-small);
        padding: 0;
        font-size: var(--font-size-small-medium);

        .created-at {
            margin-left: var(--spacing-extra-small);
        }

        .published-on {
            margin-left: var(--spacing-extra-small);
        }
    }

    .update {
        font-size: var(--font-size-large-medium);
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}
