.contextual-update {
    position: relative;
    
    .entry-on {
        margin-bottom: var(--spacing-small);
        font-size: var(--font-size-small-medium);

        .created-at {
            margin-left: var(--spacing-extra-small);
        }
    }
    
    .update {
        font-size: var(--font-size-large-medium);
    }

    .no-update {
        color: var(--color-text-watermark);
    }
}

.form {
    > {
        flex-basis: 100%;
        margin: var(--spacing-small) 0;
    }

    .row {
        display: flex;
        padding: var(--spacing-medium);

        >* {
            flex-grow: 1;
        }
    }

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}
