.tag {
    --background-color: var(--color-background);
    --color: var(--color-text);
    --font-size: var(--font-size-medium);
    --padding-v: calc(var(--spacing-small) - var(--spacing-extra-small));
    --border-radius: calc(var(--font-size) + var(--padding-v));

    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    padding: var(--padding-v) calc(var(--spacing-large) - var(--spacing-small));
    width: fit-content;
    text-align: center;
    color: var(--color);
    font-size: var(--font-size);

    &.default {
        --background-color: var(--color-background);
        --color: var(--color-text);
    }

    &.accent {
        --background-color: var(--color-accent);
        --color: var(--color-text-on-accent);
    }

    &.success {
        --background-color: var(--color-success);
        --color: var(--color-text-on-success);
    }

    &.danger {
        --background-color: var(--color-danger);
        --color: var(--color-text-on-danger);
    }

    &.warning {
        --background-color: var(--color-warning);
        --color: var(--color-text-on-warning);
    }

    &.primary {
        --background-color: var(--color-primary);
        --color: var(--color-text-on-primary);
    }

    .icon-container {
        flex-shrink: 0;
    }

    .children-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: var(--spacing-extra-small) var(--spacing-small);
    }

    .actions-container {
        flex-shrink: 0;
    }

    .pretty {
        text-transform: capitalize;
    }
}
