.container {
    margin: var(--spacing-medium);
    min-height: 200px;
}

.large-container {
    margin: var(--spacing-medium);
    min-height: 400px;
}

.content {
    display: flex;
    position: relative;

    .table {
        width: 100%;
        overflow-x: auto;

        tr, th, td {
            border: 0!important;
        }

        th, td {
            a {
                display: block;
            }
        }
    }
}
