.content {
    display: flex;
    position: relative;

    .table {
        width: 100%;
        overflow-x: auto;

        tr, th, td {
            border: 0!important;
        }


        th, td {
            a {
                display: block;
            }
        }

        .string-header {
            background-color: pink!important;
        }
    }
}
