.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-role-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
    gap: var(--spacing-medium);
}
