.user-container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.table {
    width: 100%;

    * {
        border: 0!important;
    }
}

.form {
    position: relative;

    > {
        flex-basis: 100%;
        margin: var(--spacing-small) 0;
    }

    .row {
        display: flex;
        margin: 0 calc(-1 * var(--spacing-small));
        padding: var(--spacing-small);

        >* {
            flex-basis: 100%;
        }
    }

    .two-column-row {
        display: flex;
        margin: 0 calc(-1 * var(--spacing-small));

        >* {
            flex-basis: calc(50% - 2 * var(--spacing-small));
            margin: var(--spacing-small);
        }
    }

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}
