.user-container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.table {
    width: 100%;

    * {
        border: 0!important;
    }
}

.form {
    > {
        flex-basis: 100%;
        margin: var(--spacing-small) 0;
    }

    .row {
        display: flex;
        padding: var(--spacing-medium);

        >* {
            flex-grow: 1;
        }
    }

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}
