.block {
    padding: var(--spacing-medium);
}

.header {
    position: sticky;
    top: calc(-1 * var(--spacing-medium));
    z-index: 1;
    background-color: var(--color-foreground);
}

.empty-message {
    padding: var(--spacing-medium);
    color: rgba(0, 0, 0, .3);
}

.traffic-light {
    align-self: center;
    flex-basis: unset !important;
    flex-grow: unset !important;
}

.geo-input {
    height: 300px;
}

.event-row {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;

    .event-select-input {
        flex-grow: 1;
        margin: 0 var(--spacing-small);
    }

    .add-event-button {
        flex-shrink: 0;
        margin: 0 var(--spacing-small);
    }
}