.errored {
    color: var(--tui-color-danger);
}

.block {
    padding: var(--spacing-medium);
}

.section-content {
    flex-direction: column;
    gap: var(--spacing-medium);

    .block {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
    }

    .housing-destroyed-container {
        display: flex;
    }

    .header {
        position: sticky;
        top: calc(-1 * var(--spacing-medium));
        z-index: 1;
        background-color: var(--color-foreground);
    }

    .empty-message {
        /* FIXME: use approparite color token */
        color: rgba(0, 0, 0, .3);
    }

    .traffic-light {
        align-self: center;
        flex-basis: unset !important;
        flex-grow: unset !important;
    }

    .geo-input {
        height: 300px;
    }
}
