.container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.communication-table {
    min-width: 712px;
    min-height: 400px;
}

.content {
    display: flex;
    position: relative;

    .table {
        width: 100%;
        overflow-x: auto;

        tr, th, td {
            border: 0!important;
        }

        th, td {
            a {
                display: block;
            }
        }
    }
}
