.event-form {
    position: relative;

    .crisis-row {
        display: flex;
        align-items: flex-end;
        padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

        .crisis-select-input {
            flex-grow: 1;
            margin: 0 var(--spacing-small);
        }

        .add-crisis-button {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
        }
    }

    .stats-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: var(--spacing-medium);
    }

    .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-bottom: var(--spacing-small);
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}

.add-crisis-modal {
    .body {
        padding-top: 0;
        padding-bottom: 0;
    }
}