.event-form {
    position: relative;

    .stats-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: var(--spacing-medium);
    }

    .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-bottom: var(--spacing-small);
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}

.add-crisis-modal {
    .body {
        padding-top: 0;
        padding-bottom: 0;
    }
}
