.row {
    display: flex;
    gap: var(--spacing-medium);

    >* {
        flex-basis: 0;
        flex-grow: 1;
    }

    &.single-column-no-grow {
        >* {
            flex-basis: unset;
            flex-grow: unset;
        }
    }
}
