.query-form {
    position: relative;
    border: var(--width-separator-thin) solid var(--color-separator-light);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-medium));

    .content-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .input-container {
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-wrap: wrap;

            .input {
                margin: var(--spacing-small);
                min-width: 192px;
            }
        }

        .form-buttons {
            display: flex;
            align-self: flex-end;
            flex-direction: row;
            flex-shrink: 0;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .button {
                margin: var(--spacing-small);
            }
        }
    }
}
