.countries {
    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-large);
        overflow-x: auto;

        .filters {
            background-color: var(--color-background);

            .filters-content {
                flex-grow: 1;
            }
        }

        .main-content {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            gap: var(--spacing-large);
            overflow-x: auto;

            .filter-outputs {
                display: flex;
                flex-basis: 100%;
                flex-wrap: wrap;
                gap: var(--spacing-medium) var(--spacing-large);
            }

            .map-section {
                flex-basis: 50%;
                flex-grow: 1;
                min-width: 20rem;

                .map-container {
                    height: 100%;
                    min-height: 45rem;
                }
            }

            .charts {
                display: flex;
                flex-basis: calc(50% - var(--spacing-large));
                flex-direction: column;
                flex-grow: 1;
                min-width: 20rem;
                gap: var(--spacing-medium);
            }

            .events-entries-figures-table {
                flex-basis: 100%;
                min-height: 400px;
                overflow-x: auto;
            }

            .overview {
                flex-basis: 50%;
                flex-grow: 1;
                min-width: 20rem;
            }

            .resources {
                flex-basis: calc(50% - var(--spacing-large));
                flex-grow: 1;
                min-width: 20rem;
            }
        }
    }
}
