.countries {
    padding: var(--spacing-large);

    .container {
        margin: var(--spacing-small);
        min-height: 200px;
    }

    .large-container {
        margin: var(--spacing-small);
        min-height: 400px;
    }

    .extra-large-container {
        margin: var(--spacing-small);
        min-height: 600px;
    }

    .content {
        display: flex;

        .left-content {
            flex-grow: 1;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .top {
                display: flex;

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                }

                .idp-map {
                    display: flex;
                    flex-direction: column;

                    .stats {
                        display: flex;
                        align-items: flex-end;
                        flex-shrink: 0;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: var(--spacing-large);
                    }

                    .map-container {
                        flex-grow: 1;
                    }
                }

            }

            .middle {
                display: flex;

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                }
            }
        }

        .side-content {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: calc(var(--spacing-medium) - var(--spacing-small));
            width: calc(160px + 10vw);
        }
    }

    .full-width {
        display: flex;
        flex-direction: column;
    }
}
