.review-statuses {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);

    .review-status {
        padding: var(--spacing-small) 0;

        .status {
            font-weight: var(--font-weight-bold);
        }
    }
}
