.download-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-extra-small);

    .actions {
        display: flex;
        gap: var(--spacing-small);
    }

    .status {
        display: flex;
        align-items: center;
        gap: var(--spacing-small);

        .icon {
            flex-shrink: 0;
            font-size: var(--font-size-medium);
        }

        .text {
            flex-grow: 1;
        }
    }

    .export-item {
        /* stylelint-disable-next-line no-descending-specificity */
        >* {
            &:not(:first-child) {
                margin-left: var(--spacing-extra-small);
            }
        }

        &.disabled {
            color: var(--color-text-label);
        }
    }
}

