:root {
    --width-reset-form: 480px;
}

.forget-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;

    .forget-password-container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: var(--width-reset-form);
        gap: var(--spacing-large);

        .logo {
            align-self: center;
            width: 360px;
            height: auto;
            object-fit: contain;
        }

        .reset-form {
            display: flex;
            flex-direction: column;
            background-color: var(--color-foreground);
            padding: var(--spacing-extra-large);
            gap: var(--spacing-medium);

            .action-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: var(--spacing-small);
            }
        }

        .reset-link-container {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            justify-content: center;

            p {
                padding: var(--spacing-small);
            }
        }
    }
}
