:root {
    --width-reset-form: 480px;
}

.forget-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;

    .forget-password-container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: var(--width-sign-in-form);

        .header {
            padding: var(--spacing-medium) 0;
        }

        .email-form {
            background-color: var(--color-foreground);
            padding: var(--spacing-extra-large);

            .action-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: var(--spacing-medium);
            }
        }
    }
}
