.query-form {
    position: relative;

    .content-container {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .input {
            margin: var(--spacing-small);
            min-width: 192px;
        }

        .form-buttons{
            display: flex;
            align-self: flex-end;
            flex-direction: row;
            flex-shrink: 0;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .button {
                margin: var(--spacing-small);
            }
        }
    }
}
