.button {
    position: relative;

    .badge {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 4px;
        background-color: var(--tui-color-danger);
        padding: 0 var(--spacing-extra-small);
        color: var(--tui-color-text-button-dark);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-bold);
        pointer-events: none;
    }
}

.popup {
    width: 360px;
    min-height: 360px;
}

.popup-content {
    display: flex;
    position: relative;
}

.exports-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}
