.downloads {
    position: relative;

    .badge {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.popup {
    width: 360px;
    min-height: 360px;
}

.popup-content {
    display: flex;
    position: relative;
}

.exports-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}
