.notifications-wrapper {
    display: flex;
    width: 100%;
    gap: var(--spacing-large);

    .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;
        gap: var(--spacing-large);

        .notifications-table {
            overflow-x: auto;

            .content {
                display: flex;
                position: relative;
                flex-direction: column;
            }

            .notificaions-tab-header {
                display: flex;
            }
        }

    }

    .side-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: calc(160px + 10vw);
        gap: var(--spacing-large);

        .new-query-button {
            border-radius: var(--radius-card);
            background-color: var(--color-foreground);
        }
    }
}