.notifications-wrapper {
    display: flex;
    width: 100%;
    gap: var(--spacing-large);

    .large-container {
        min-height: 400px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;
        gap: var(--spacing-large);

        .filters {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium);
        }

        .notifications-content {
            padding: var(--spacing-medium);
        }
    }

    .side-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: calc(160px + 10vw);
        gap: var(--spacing-medium);

        .content {
            display: flex;
            position: relative;
            flex-direction: column;
        }
    }
}
