.query-form {
    position: relative;

    .content-container {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: var(--spacing-medium);

        .input {
            min-width: 192px;
        }

        .form-buttons{
            display: flex;
            align-self: flex-end;
            flex-direction: row;
            flex-shrink: 0;
            gap: var(--spacing-medium);
        }
    }
}
