.button {
    --padding: var(--spacing-small);
    font-size: var(--font-size-medium);

    &.round-button {
        border-radius: calc(1em + var(--padding) / 2);
        padding: var(--padding);

        .children {
            padding: 0;
        }
    }
}
