.button {
    --padding: var(--spacing-extra-small);

    &.round-button {
        border-radius: calc(1em + var(--padding) / 2);
        padding: var(--padding);

        .children {
            padding: 0;
        }
    }
}
