:global {
    .react-mde {
        border: none !important;

        textarea.mde-text {
            background: transparent !important;
        }
        .mde-header {
            background: transparent !important;
        }
        .mde-tabs {
            .selected {
                border: none !important;
                font-weight: var(--font-weight-bold);
            }
        }
    }
}

:root {
    /* SPACING */
    --spacing-super-small: 1px;
    --spacing-extra-small: 3px;
    --spacing-small: 6px;
    --spacing-small-medium: 8px;
    --spacing-medium: 10px;
    --spacing-large-medium: 13px;
    --spacing-large: 16px;
    --spacing-extra-large: 24px;

    /* DIMENSIONS */
    --width-separator-thin: 1px;
    --width-separator-medium: 2px;
    --width-separator-thick: 4px;

    --width-sidebar: 24rem;

    --height-navbar: 58px;

    /* FONT SIZE */
    --font-size-extra-small: 11px;
    --font-size-small: 12px;
    --font-size-small-medium: 13px;
    --font-size-medium: 14px;
    --font-size-large-medium: 16px;
    --font-size-large: 18px;
    --font-size-extra-large: 24px;
    --font-size-super-large: 32px;
    --font-size-ultra-large: 48px;

    /* FONT WEIGHT */
    --font-weight-light: 400;
    --font-weight-medium: 400;
    --font-weight-bold: 700;

    /* COLOR PALETTE */
    --color-navbar: rgb(51, 64, 83);
    --color-text-on-navbar: rgba(255, 255, 255, .9);

    --color-primary: rgb(33, 105, 187);
    --color-accent: rgb(91, 192, 222);
    --color-danger: rgb(187, 33, 36);
    --color-success: rgb(34, 187, 51);
    --color-warning: rgb(240, 173, 78);

    /* COLOR SEPARATOR */
    --color-separator: rgb(184, 194, 205);
    --color-separator-light: rgba(160, 180, 190, 0.3);

    /* RADIUS */
    --radius-card: 4px;
    --radius-button: 4px;
    --radius-input: 4px;
    --radius-modal: 8px;


    /* COLOR GENERAL */
    --color-foreground: rgb(255, 255, 255);
    --color-background: rgb(240, 243, 247);

    --color-disaster: #018eca;
    --color-conflict: #ef7d00;

    /* COLOR TEXT */
    --color-text: rgba(0, 0, 0, .7);
    --color-text-label: rgba(0, 0, 0, .5);
    --color-text-on-primary: rgba(255, 255, 255, .9);
    --color-text-on-accent: rgba(255, 255, 255, .9);
    --color-text-on-danger: rgba(255, 255, 255, .9);
    --color-text-on-success: rgba(255, 255, 255, .9);
    --color-text-on-warning: rgba(0, 0, 0, .9);

    --color-text-disabled: rgba(0, 0, 0, .3);
    --color-text-watermark: rgba(0, 0, 0, .3);
    --color-chart-axes: #717171;



    --color-separator: rgba(0, 0, 0, .1);
    --color-link: var(--color-primary);

    --duration-transition-slow: .5s;
    --duration-transition-medium: .3s;
    --duration-transition-fast: .15s;

    --tui-color-primary: var(--color-primary);
    --tui-color-accent: var(--color-accent);
    --tui-color-danger: var(--color-danger);
    --tui-color-success: var(--color-success);
    --tui-color-warning: var(--color-warning);

    --tui-color-background-input-section-light: #e0e8f0;
}

body {
    color: var(--color-text);
    font-size: var(--font-size-medium);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: var(--color-text);
    font-weight: var(--font-weight-bold);

    &:not(:hover) {
        text-decoration: none;
    }
}

* {
    box-sizing: border-box;
}
