.event {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .container {
        min-height: 200px;
    }

    .large-container {
        min-height: 400px;
    }

    .details {
        display: flex;
        flex-direction: column;

        .stats {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: var(--spacing-medium);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 16rem;
            }

            .hidden {
                display: none;
            }
        }
    }
}

.action-buttons-row {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-medium);

    .action-button {
        flex-shrink: 0;
    }
}
