.event {
    padding: var(--spacing-large);

    .container {
        margin: var(--spacing-medium);
    }

    .table {
        width: 100%;

        * {
            border: 0!important;
        }
    }
}
