.file-uploader {
    align-self: flex-end;
    flex-grow: unset;
    flex-shrink: 0;
    margin-left: var(--spacing-medium);
    text-transform: uppercase;
}

.file-name {
    align-self: center;
    padding: var(--spacing-small);
}

.traffic-light {
    align-self: center;
    flex-basis: unset!important;
    flex-grow: unset!important;
    margin-right: 0;
    margin-left: calc(2 * var(--spacing-small));
}
