.container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);

    .table {
        width: 100%;
    
        * {
            border: 0!important;
        }
    }
    
    .no-actors {
        color: var(--color-text-watermark);
        font-size: var(--font-size-large-medium);
    }
}
