.form {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
    }

    .form-buttons {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}
