.header {
    padding: 0;
}
.heading {
    padding: 0;
}
.tab {
    padding: var(--spacing-medium);
}

.entries-table {
    overflow-x: auto;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;

        .table {
            width: 100%;
            overflow-x: auto;
        }
    }
}
