.entries-table {
    overflow-x: auto;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .figure-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
