.item {
    text-align: left;

    .description {
        color: var(--color-text-disabled);
        font-size: var(--font-size-small);
    }
}

.comp {
    display: flex;
    position: relative;
    gap: var(--spacing-medium);
    height: 30em;

    .container {
        display: flex;
        position: relative;
        flex-grow: 1;
        z-index: 0;

        .floating {
            display: flex;
            position: absolute;
            top: var(--spacing-small);
            right: var(--spacing-small);
            align-items: flex-end;
            flex-direction: column;
            z-index: 1;
            gap: var(--spacing-small);

            .button {
                opacity: 0.5;
            }
        }

        &:hover {
            .floating {
                .button {
                    opacity: 1;
                }
            }
        }

        .map-container {
            flex-grow: 1;
        }
    }

    .search {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        gap: var(--spacing-medium);

        .filter {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }

        .result {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
            gap: var(--spacing-small);

            .message {
                color: var(--color-text-label);
            }
        }
    }
}
