.item {
    padding: var(--tui-spacing-small);
    text-align: left;

    .description {
        color: var(--color-text-disabled);
        font-size: var(--font-size-small);
    }
}

.comp {
    display: flex;
    position: relative;

    .container {
        display: flex;
        position: relative;
        flex-grow: 1;
        z-index: 0;
        margin: 0 var(--spacing-small);

        .floating {
            display: flex;
            position: absolute;
            top: var(--spacing-medium);
            right: var(--spacing-medium);
            align-items: flex-end;
            flex-direction: column;
            z-index: 1;

            >* {
                margin: var(--spacing-small) 0;
            }
        }

        .map-container {
            flex-grow: 1;
        }
    }

    .search {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        padding: 0 var(--spacing-small);

        .filter {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .input {
                padding: var(--spacing-small) 0;
            }
        }

        .result {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--spacing-small) 0;
            overflow: auto;
        }
    }
}
