.container {
    display: flex;
    flex-direction: column;

    .header-container {
        display: flex;

        .tabs {
            display: flex;
        }

        .header {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .description {
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
        overflow: auto;
    }

    .footer {
        flex-shrink: 0;
    }

    &:not(.borderless) {
        border: var(--width-separator-thin) solid var(--color-separator-light);
        border-radius: var(--radius-card);
    }

    &:not(.compact) {
        background-color: var(--color-foreground);

        &:not(.compact-content) {
            .content {
                padding: var(--spacing-medium);
            }
        }

        .header, .description, .footer {
            padding: var(--spacing-medium);
        }
    }
}
