.event-form {
    .crisis-row {
        display: flex;
        align-items: flex-end;
        margin: 0 calc(-1 * var(--spacing-small));
        padding: var(--spacing-small) 0;

        .crisis-select-input {
            flex-grow: 1;
            margin: 0 var(--spacing-small);
        }

        .add-crisis-button {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
        }
    }

    .row {
        display: flex;
        margin: 0 calc(-1 * var(--spacing-small));
        padding: var(--spacing-small);

        >* {
            flex-basis: 100%;
        }
    }

    .two-column-row {
        display: flex;
        margin: 0 calc(-1 * var(--spacing-small));

        >* {
            flex-basis: calc(50% - 2 * var(--spacing-small));
            margin: var(--spacing-small);
        }
    }

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}

.add-crisis-modal {
    .body {
        padding-top: 0;
        padding-bottom: 0;
    }
}
