.number-cell {
    display: flex;
    justify-content: right;
    text-align: right;
}

.number-cell-header {
    .title-container {
        .title {
            justify-content: flex-end;
            text-align: right;
        }
    }
}

.action-cell, .action-cell-header {
    position: sticky;
    right: 0;
    background-color: white;
}

.action-cell-header {
    position: sticky;
    right: 0;

    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.action-cell-item {
    justify-content: right;
}

.header-cell-item {
    .action-title-container {
        .action-title {
            justify-content: center;
            text-align: center;
        }
    }
}
