.file-uploader {
    align-self: flex-end;
    flex-basis: unset;
    flex-grow: unset;
    flex-shrink: 0;
}

.file-name {
    align-self: center;
}

.traffic-light {
    align-self: center;
    flex-basis: unset!important;
    flex-grow: unset!important;   
}

.removal-buttons {
    align-self: flex-end;
    flex-basis: unset;
    flex-grow: unset;
    flex-shrink: 0;
}
