.dashboard {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    width: 100%;

    .container {
        min-height: 200px;
    }

    .large-container {
        min-height: 400px;
    }

    .content {
        display: flex;
        overflow-x: auto;
        gap: var(--spacing-large);

        .main-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: auto;
            gap: var(--spacing-large);

            .top {
                display: flex;
                gap: var(--spacing-large);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    overflow: auto;
                }
            }

            .bottom {
                display: flex;
                flex-direction: column;
                overflow-x: auto;
                gap: var(--spacing-large);
            }
        }

        .side-content {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: calc(160px + 10vw);
            gap: var(--spacing-large);
        }
    }
}
