.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .heading {
        color: var(--color-text);
        font-size: var(--font-size-super-large-alt);
        font-weight: var(--font-weight-bold);
    }

    .message {
        margin: 0;
        padding: var(--spacing-medium);
        font-size: var(--font-size-large-alt);
    }
}
