.form {
    position: relative;

    .add-button {
        margin-left: var(--spacing-medium);
    }

    .collection-message {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: var(--spacing-large);
    }

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}
