.resource-group {
    padding: var(--spacing-small) var(--spacing-small);
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}
