.resource-group {
    margin:  var(--spacing-large) var(--spacing-small) var(--spacing-small) var(--spacing-small);
    background-color: #eaf0f7;
    padding: var(--spacing-large) var(--spacing-large);
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}
