.contextual-updates {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .container {
        min-height: 400px;
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;

        .table {
            width: 100%;
            overflow-x: auto;
        }
    }
}
