.popup {
    display: flex;
    width: 360px;

    .buttons {
        display: flex;
        gap: var(--spacing-small);

        >* {
            flex-grow: 1;
        }
    }

    .popup-content {
        display: flex;
        gap: var(--spacing-large);
        padding: var(--spacing-medium);
    }
}

.traffic-light-input {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    color: var(--color-text-label);
    font-size: var(--font-size-large);

    .good {
        color: var(--color-success);
    }

    .bad {
        color: var(--color-danger);
    }
}
