.popup {
    display: flex;
    width: 420px;

    .popup-content {
        display: flex;
        gap: var(--spacing-large);
        padding: var(--spacing-large);
    }
}

.traffic-light-input {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    color: var(--color-text-label);

    .good {
        color: var(--color-success);
    }

    .bad {
        color: var(--color-danger);
    }
}
