.entries-table {
    overflow-x: auto;

    .table {
        overflow-x: auto;

        tr, th, td {
            border: 0;
        }

        th, td {
            a {
                display: block;
            }
        }
    }

    .article-title {
        min-width: 200px;
    }
}
