.header {
    display: flex;

    .heading-section {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-medium) solid var(--color-accent);
        padding: var(--spacing-medium);
        gap: var(--spacing-medium);

        .icons {
            display: flex;
            align-items: center;
        }
    }

    .dummy-section {
        flex-grow: 1;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .status-section {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        gap: var(--spacing-large);
        padding-right: var(--spacing-large);
        padding-left: var(--spacing-large);
    }

    .actions-section {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        gap: var(--spacing-small);
    }
}
