.header {
    display: flex;
    padding: calc(var(--spacing-medium) - var(--spacing-small));

    .heading-section {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-medium) solid var(--color-accent);
        padding: var(--spacing-small);
    }

    .dummy-section {
        flex-grow: 1;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .actions-section {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small);
    }
}
