.item-row {
    display: flex;
    flex-direction: column;

    .category-name {
        padding: var(--tui-spacing-medium);
        text-decoration: none;

        &:hover {
            background-color: var(--tui-color-background-hover-light)
        }
    }
}
