.new-entry {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;
    overflow: auto;

    .header {
        flex-shrink: 0;
        margin: 0 calc(var(--spacing-large) - var(--spacing-medium));
    }

    .content {
        display: flex;
        flex-grow: 1;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));
        overflow: auto;

        .entry-form {
            flex-grow: 1;
            margin: var(--spacing-small);
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--radius-card);
            overflow: auto;
        }

        .preview {
            flex-basis: calc(160px + 30vw);
            flex-grow: 0;
            flex-shrink: 0;
            margin: var(--spacing-small);
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--radius-card);
        }
    }
}
