.new-entry {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;
    overflow: auto;

    .header {
        flex-shrink: 0;
        margin: 0 calc(var(--spacing-large) - var(--spacing-medium));
    }

    .content {
        display: flex;
        flex-grow: 1;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));
        overflow: auto;

        .entry-form {
            flex-grow: 1;
            margin: var(--spacing-small);
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--radius-card);
            overflow: auto;
        }

        .aside {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            margin: var(--spacing-small);
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--radius-card);
            background-color: var(--color-foreground);
            width: calc(160px + 30vw);

            .tab-list {
                display: flex;
                flex-shrink: 0;

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    padding: var(--spacing-medium);
                }
            }
            
            .comments-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .comment-input-container {
                    flex-shrink: 0;
                    padding: var(--spacing-medium);
                }

                .comment-list {
                    flex-grow: 1;
                    padding: var(--spacing-medium);
                    overflow: auto;

                    .comment {
                        padding: var(--spacing-medium);
                    }
                }
            }

            .preview-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .preview {
                    flex-grow: 1;
                }
            }
        }
    }
}
