.preview-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .tab-list {
        display: flex;
        flex-shrink: 0;

        >* {
            flex-basis: 0;
            flex-grow: 1;

            .status-icon {
                margin: 0 var(--spacing-small)
            }
        }

        .preview-failed {
            color: var(--color-danger);
        }
    }

    .preview-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .preview {
            flex-grow: 1;
        }
    }
}