.header-buttons {
    margin-left: var(--spacing-medium);
    background-color: transparent;
}

.resource-form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: var(--spacing-medium);

    .button {
        margin-left: var(--spacing-medium);
        padding: var(--spacing-small) var(--spacing-large);
    }

    .button-group {
        display:flex;
        justify-content: flex-end;
        width: 100%;
    }
}

