.entry-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow: auto;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .tab-list {
            display: flex;
            flex-shrink: 0;

            >* {
                flex-basis: 0;
                flex-grow: 1;
                padding: var(--spacing-medium);
            }

            .errored {
                color: var(--color-danger);
            }
        }

        .details {
            flex-grow: 1;
            margin-bottom: var(--spacing-medium);
            padding: var(--spacing-medium);
            overflow: auto;
        }

        .analysis-and-figures {
            flex-grow: 1;
            margin-bottom: var(--spacing-medium);
            padding: var(--spacing-medium);
            overflow: auto;

            .event-details {
                padding: 0 var(--spacing-medium);
            }
        }

        .review {
            flex-grow: 1;
            margin-bottom: var(--spacing-medium);
            padding: var(--spacing-medium);
            overflow: auto;
        }
    }

    .empty-message {
        padding: var(--spacing-medium);
        color: rgba(0, 0, 0, .3);
    }

}

.traffic-light {
    align-self: center;
    flex-basis: unset!important;
    flex-grow: unset !important;
}

.add-event-modal {
    .body {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.load-failed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-foreground);
    color: var(--color-danger);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}
