.filter-output {
    display: flex;
    gap: var(--spacing-small);

    .label {
        color: var(--color-accent);
        font-weight: var(--font-weight-bold);

        &:after {
            content: ':';
        }
    }
}
