.comment-form {
    position: relative;

    .actions {
        margin-top: var(--spacing-large);
    }

    .radio-input {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
}
