.reports {
    padding: var(--spacing-large);

    .basic-container {
        margin: var(--spacing-small);
    }

    .container {
        margin: var(--spacing-small);
        min-height: 200px;
    }

    .large-container {
        margin: var(--spacing-small);
        min-height: 400px;
    }

    .extra-large-container {
        display: flex;
        flex-direction: column;
        margin: var(--spacing-small);
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .full-width {
        display: flex;
        flex-direction: column;
        margin: calc(var(--spacing-medium) - var(--spacing-small));
    }

    .comments {
        flex-grow: 1;
    }

    .generation-item {
        padding: var(--spacing-small) 0;

        &:not(:last-child) {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
        }

        .actions {
            display: flex;

            >* {
                &:not(:last-child) {
                    margin: 0 var(--spacing-small);
                }
            }
        }

        .status {
            display: flex;
            align-items: center;

            /* stylelint-disable-next-line no-descending-specificity */
            >* {
                &:not(:last-child) {
                    margin: 0 var(--spacing-small);
                }
            }

            .icon {
                flex-shrink: 0;
                font-size: var(--font-size-medium);
            }

            .text {
                flex-grow: 1;
            }
        }

        .export-item {
            padding: var(--spacing-small) 0;

            .name {
                font-weight: var(--font-weight-bold);
            }

            /* stylelint-disable-next-line no-descending-specificity */
            >* {
                &:not(:last-child) {
                    margin: 0 var(--spacing-extra-small);
                }
            }
        }
    }

    .main-content {
        display: flex;

        .left-content {
            flex-basis: 70%;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .idp-map {
                .stats {
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: var(--spacing-large);
                }
            }
        }

        .side-content {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            flex-shrink: 0;
            padding: calc(var(--spacing-medium) - var(--spacing-small));
            width: calc(160px + 10vw);
        }
    }
}

.popup-item-button {
    justify-content: flex-start;
}
