.reports {
    padding: var(--spacing-large);

    .container {
        margin: var(--spacing-small);
        min-height: 200px;
    }

    .actions {
        display: flex;

        .button {
            &:not(:last-child) {
                margin: 0 var(--spacing-small);
            }
        }
    }

    .generation-item {
        padding: var(--spacing-small) 0;

        &:not(:last-child) {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
        }

        .export-item {
            padding: var(--spacing-small) 0;

            .name {
                font-weight: var(--font-weight-bold);
            }

            >* {
                &:not(:last-child) {
                    margin: 0 var(--spacing-extra-small);
                }
            }
        }
    }

    .large-container {
        margin: var(--spacing-small);
        min-height: 400px;
    }

    .extra-large-container {
        margin: var(--spacing-small);
        min-height: 600px;
    }

    .content {
        display: flex;

        .left-content {
            flex-grow: 1;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .top {
                display: flex;

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                }

                .idp-map {
                    display: flex;

                    .stats {
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                        flex-wrap: wrap;
                        padding: var(--spacing-large);
                    }

                    .map-container {
                        flex-grow: 1;
                    }
                }
            }
        }

        .side-content {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: calc(var(--spacing-medium) - var(--spacing-small));
            width: calc(160px + 10vw);
        }
    }

    .full-width {
        display: flex;
        flex-direction: column;
    }
}

.popup-item-button {
    justify-content: flex-start;
}
