.reports {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .container {
        min-height: 200px;
    }

    .large-container {
        min-height: 400px;
    }

    .extra-large-container {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
    }

    .full-width {
        display: flex;
        flex-direction: column;
    }

    .comments {
        flex-grow: 1;
    }

    .generation-item {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-small);

        .actions {
            display: flex;
            gap: var(--spacing-small);
        }

        .status {
            display: flex;
            align-items: center;
            gap: var(--spacing-small);

            .icon {
                flex-shrink: 0;
                font-size: var(--font-size-medium);
            }

            .text {
                flex-grow: 1;
            }
        }

        .export-item {
            /* stylelint-disable-next-line no-descending-specificity */
            >* {
                &:not(:first-child) {
                    margin-left: var(--spacing-extra-small);
                }
            }

            .name {
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .main-content {
        display: flex;
        gap: var(--spacing-large);

        .left-content {
            display: flex;
            flex-basis: 70%;
            flex-direction: column;
            gap: var(--spacing-large);

            .idp-map {
                .stats {
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }

        .side-content {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            flex-shrink: 0;
            width: calc(160px + 10vw);
            gap: var(--spacing-large);
        }
    }
}

.popup-item-button {
    justify-content: flex-start;
}
