.report {
    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-large);

        .stats {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium) var(--spacing-extra-large);
        }

        .main-content {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            gap: var(--spacing-large);
            overflow-x: auto;

            .filter-outputs {
                display: flex;
                flex-basis: 100%;
                flex-wrap: wrap;
                gap: var(--spacing-medium) var(--spacing-large);
            }

            .map-section {
                flex-basis: 50%;
                flex-grow: 1;
                min-width: 20rem;

                .map-container {
                    height: 100%;
                    min-height: 45rem;
                }
            }

            .charts {
                display: flex;
                flex-basis: calc(50% - var(--spacing-large));
                flex-direction: column;
                flex-grow: 1;
                min-width: 20rem;
                gap: var(--spacing-medium);
            }

            .countries-crises-events-entries-figures-table {
                flex-basis: 100%;
                min-height: 400px;
                overflow-x: auto;
            }

            .overview {
                flex-basis: 50%;
                flex-grow: 1;
                min-width: 20rem;
            }

            .side-content {
                display: flex;
                align-content: flex-start;
                flex-basis: calc(50% - var(--spacing-large));
                flex-direction: column;
                flex-grow: 1;
                min-width: 20rem;
                gap: var(--spacing-medium);

                .status {
                    min-height: 10rem;
                }

                .history {
                    min-height: 10rem;
                }

                .masterFactInfo {
                    min-height: 10rem;
                }

                .comments {
                    min-height: 10rem;
                }
            }
        }

    }
}

.popup-item-button {
    justify-content: flex-start;
}
