.report {
    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-large);

        .stats {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium) var(--spacing-extra-large);
        }

        .main-content {
            display: grid;
            flex-basis: 100%;
            grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
            gap: var(--spacing-large);

            .filter-outputs {
                grid-column: 1 / -1;
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-medium) var(--spacing-large);
            }

            .map {
                grid-column: 1 / -2;
            }

            .map-container {
                height: 100%;
                min-height: 45rem;
            }

            .charts {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);
                grid-column: auto / -1;
            }

            .countries-crises-events-entries-figures-table {
                grid-column: 1 / -1;
                min-height: 400px;
            }

            .overview {
                grid-column: 1 / -2;
                grid-row: auto / span 4;
            }

            .status {
                grid-column: auto / -1;
            }
            .history {
                grid-column: auto / -1;
            }
            .masterFactInfo {
                grid-column: auto / -1;
            }
            .comments {
                grid-column: auto / -1;
            }
        }

    }
}

.popup-item-button {
    justify-content: flex-start;
}
