.popup {
    padding: var(--spacing-medium);
    width: 360px;

    .popup-content {
        display: flex;
        gap: var(--spacing-medium);
    }
}

.extraction {
    display: flex;
    width: 100%;
    gap: var(--spacing-large);

    .large-container {
        min-height: 400px;
    }

    .sticky-container {
        position: sticky;
        top: var(--spacing-large);
        min-height: 400px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;
        gap: var(--spacing-large);
    }

    .side-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: calc(160px + 16vw);
        gap: var(--spacing-large);

        .new-query-button {
            border-radius: var(--radius-card);
            background-color: var(--color-foreground);
        }
    }
}
