.resource-item-container {
    padding-right: var(--spacing-small);
    padding-left: var(--spacing-large);
}

.first-row {
    display: flex;
    justify-content: flex-start;
    padding: var(--spacing-small) var(--spacing-large);
}

.title {
    flex: 1;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: var(--font-size-medium);
}

.last-accessed-on {
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    border-bottom-width: 80%;
    padding-bottom: var(--spacing-small);
    padding-left: var(--spacing-large);
    color: #b9c5d6;
    font-size: var(--font-size-small);
    font-weight: 600;
}
