.tag-input {
    .tag-button {
        --padding: var(--spacing-extra-small);

        .children {
            padding: 0;
        }
    }

    .label {
        padding: var(--tui-spacing-small) var(--tui-spacing-medium);
        color: var(--color-text-label);
        font-size: var(--tui-font-size-small);
        font-weight: var(--tui-font-weight-bold);
    }

    /*
    .added-tag {
        background-color: var(--tui-color-background-input-section-light);
    }
    */

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-small);

        .placeholder {
            padding: var(--spacing-small) calc(var(--spacing-large) - var(--spacing-small));
            color: var(--tui-color-text-disabled-light);
        }

        .tag-actions {
            display: flex;
            align-items: center;
        }
    }
}
