.tag-input {
    .tag-button {
        --padding: var(--spacing-extra-small);
        border: none;
        border-radius: calc(1em + var(--padding) / 2);
        background-color: transparent;
        padding: var(--padding);
        width: calc(1em + 2 * var(--padding));
        height: calc(1em + 2 * var(--padding));
        color: inherit;
        font-size: var(--font-size-large);

        .children {
            padding: 0;
        }

        &.check-button {
            color: var(--color-success);
        }

        &.cancel-button {
            color: var(--color-danger);
        }
    }

    .label {
        padding: var(--tui-spacing-small) var(--tui-spacing-medium);
        color: var(--color-text-label);
        font-size: var(--tui-font-size-small);
        font-weight: var(--tui-font-weight-bold);
    }

    .tags {
        display: flex;
        flex-wrap: wrap;

        .tag {
            margin: var(--spacing-extra-small);
        }

        .placeholder {
            padding: 0 var(--spacing-extra-small);
            color: var(--tui-color-text-disabled-light);
            font-size: var(--font-size-extra-large);
        }

        .tag-actions {
            display: flex;
            align-items: center;
        }
    }
}
