.header {
    display: flex;
    align-items: center;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    gap: var(--spacing-medium);

    .icons {
        flex-shrink: 0;
    }

    .heading {
        flex-grow: 1;
    }

    .actions {
        flex-shrink: 0;
    }
}
