.navbar {
    display: flex;
    background-color: var(--color-navbar);
    padding: var(--spacing-medium);
    height: var(--height-navbar);
    overflow: auto;
    color: var(--color-text-on-navbar);
    gap: var(--spacing-large);

    .app-brand {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: var(--font-size-extra-large);
    }

    .main {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .nav-links {
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            gap: var(--spacing-large);
            overflow: hidden;
            font-size: var(--font-size-medium);

            .link {
                display: flex;
                align-items: center;
                outline: none;
                border-top: var(--width-separator-medium) solid transparent;
                border-bottom: var(--width-separator-medium) solid transparent;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--color-text-on-navbar);
                font-weight: var(--font-weight-bold);

                &.active {
                    border-bottom-color: var(--color-text-on-navbar);
                }
            }
        }
    }

    .downloads-container {
        display: flex;

        .downloads {
            color: var(--color-text-on-navbar);
            font-size: var(--font-size-large);
        }
    }

    .notifications-container {
        display: flex;

        .notifications {
            color: var(--color-text-on-navbar);
            font-size: var(--font-size-large);
        }
    }

    .actions {
        display: flex;
        flex-shrink: 0;
        gap: var(--spacing-small);

        .new-entry-link {
            align-self: center;
            text-transform: uppercase;
        }

        .dropdown {
            font-size: var(--font-size-large);
        }

        .notifications-link {
            color: var(--color-text-on-navbar);
            font-size: var(--font-size-large);
        }
    }
}

.button {
    justify-content: flex-start;
}

.row-line {
    margin: 0 var(--spacing-small-medium);
    border: var(--width-separator-thin) solid var(--color-separator);
}