.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);

    .top {
        border-bottom: var(--width-separator-thin) solid var(--color-text-on-primary);
    }

    .top, .bottom {
        display: flex;
        align-items: flex-start;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-medium));

        .app-brand {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-extra-large);
        }

        .main {
            display: flex;
            flex-grow: 1;

            .nav-links {
                display: flex;
                align-items: flex-end;
                flex-grow: 1;
                justify-content: flex-start;
                padding: var(--spacing-small) calc(var(--spacing-large) - var(--spacing-small));
                font-size: var(--font-size-medium);

                .link {
                    display: block;
                    outline: none;
                    border-bottom: var(--width-separator-medium) solid transparent;
                    padding: var(--spacing-small) var(--spacing-medium);
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var(--color-text-on-primary);
                    font-weight: var(--font-weight-bold);

                    &.active {
                        border-bottom-color: var(--color-text-on-primary);
                    }

                    &.disabled-link {
                        color: var(--color-text-disabled-on-primary);
                    }
                }
            }
        }

        .actions {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }
    }

}
