.navbar {
    background-color: var(--color-primary);
    padding: var(--spacing-medium) 0;
    color: var(--color-text-on-primary);

    .bottom {
        display: flex;
        padding: 0 var(--spacing-large);
    }

    .top {
        display: flex;
        padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

        .app-brand {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-medium);
            font-size: var(--font-size-extra-large);
        }

        .main {
            display: flex;
            flex-grow: 1;

            .nav-links {
                display: flex;
                flex-grow: 1;
                justify-content: flex-start;
                padding: 0 calc(var(--spacing-large) - var(--spacing-small));
                font-size: var(--font-size-medium);

                .link {
                    display: flex;
                    align-items: center;
                    outline: none;
                    border-top: var(--width-separator-medium) solid transparent;
                    border-bottom: var(--width-separator-medium) solid transparent;
                    padding: var(--spacing-small) var(--spacing-medium);
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var(--color-text-on-primary);
                    font-weight: var(--font-weight-bold);

                    &.active {
                        border-bottom-color: var(--color-text-on-primary);
                    }

                    &.disabled-link {
                        opacity: 0.3;
                    }
                }
            }
        }

        .actions {
            display: flex;
            flex-shrink: 0;
            padding: 0 var(--spacing-medium);

            .new-entry-link {
                align-self: center;
                text-transform: uppercase;
            }

            .dropdown {
                margin-left: var(--spacing-small);
                font-size: var(--font-size-large);
            }
        }
    }
}

.button {
    justify-content: flex-start;
}
