.query-form {
    position: relative;
    margin-bottom: var(--spacing-large);
    border: var(--width-separator-thin) solid var(--color-separator-light);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-medium));

    >* {
        flex-basis: 100%;
        margin: var(--spacing-small) 0;
    }

    .first-row-filter {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .filter-inputs {
            margin: var(--spacing-small);
            min-width: 270px;
        }
    }

    .form-buttons{
        display: flex;
        flex-direction: row;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
        }
    }
}
