.entry {
    display: flex;
    width: 100%;
    gap: var(--spacing-large);

    .side-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: calc(220px + 26vw);
        gap: var(--spacing-large);

        .sticky-container {
            position: sticky;
            top: var(--spacing-large);
            height: calc(100vh - 2 * var(--spacing-large) - var(--height-navbar));
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;
        gap: var(--spacing-large);

        .header {
            flex-shrink: 0;

            .portal-container {
                display: flex;
                align-items: center;
                gap: var(--spacing-small);
            }
        }

        .entry-form {
            flex-grow: 1;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--radius-card);
            overflow: auto;
        }
    }
}
