.admin {
    padding: var(--spacing-large);

    .content {
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .container {
            margin: var(--spacing-small);
            min-height: 400px;
        }
    }
}
