.text-block {
    .value {
        font-size: var(--font-size-large);

        a {
            font-weight: var(--font-weight-medium);
        }


        &>*:not(:first-child)::before {
            content: ", ";
        }
    }

    .na {
        color: var(--color-text-disabled);
        font-size: var(--font-size-large);
    }

    .label {
        color: var(--color-text-label);
        font-size: var(--font-size--small);
    }
}

