.text-block {
    .value {
        font-size: var(--font-size-extra-large);
    }

    .na {
        color: var(--color-text-disabled);
        font-size: var(--font-size-extra-large);
    }

    .label {
        color: var(--color-text-label);
        font-size: var(--font-size--small);
    }
}

