.summary {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--spacing-extra-small);

    .separator {
        margin-left: calc(-1 * var(--spacing-extra-small));
    }

    .entry {
        white-space: nowrap;
    }
}
