.section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    &.bordered {
        border: var(--width-separator-thin) solid var(--color-separator);
        border-radius: var(--spacing-small);
        padding: var(--spacing-medium);
    }

    .section-header {
        padding: var(--spacing-medium) 0;
    }

    .sub-section-header {
        border-bottom-color: transparent;
    }

    .content {
        padding: 0;
    }
}
