.events {
    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-large);
        overflow-x: auto;

        .filters {
            background-color: var(--color-background);

            .filters-content {
                flex-grow: 1;
            }
        }

        .main-content {
            overflow-x: auto;

            .container {
                flex-grow: 1;
                min-height: 400px;
            }
        }
    }
}
