.events {
    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-large);
        overflow-x: auto;

        .filters {
            background-color: var(--color-background);

            .filters-content {
                flex-grow: 1;
            }
        }

        .main-content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-large);
            overflow-x: auto;

            .filter-outputs {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-medium) var(--spacing-large);
            }

            .container {
                flex-grow: 1;
                min-height: 400px;
            }
        }
    }
}
