:root {
    --width-new-entry-form: 360px;
}

.factor {
    display: flex;
    align-items: flex-end;

    .name-input {
        flex-grow: 1;
    }
    .delete-button {
        flex-shrink: 0;
        margin: var(--spacing-medium);
    }
}

.new-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;

    .new-entry-form-container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: var(--width-new-entry-form);

        .header {
            padding: var(--spacing-medium) 0;
        }

        .new-entry-form {
            background-color: var(--color-foreground);
            padding: var(--spacing-extra-large);

            .factor-container {
                display: flex;
                align-items: center;

                .header {
                    flex-grow: 1;
                }
                .add-button {
                    flex-shrink: 0;
                    margin: var(--spacing-medium);
                }
            }

            .action-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: var(--spacing-medium) 0;
            }
        }
    }
}
