:root {
    --width-new-entry-form: 360px;
}

.new-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;

    .new-entry-form-container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: var(--width-new-entry-form);

        .header {
            padding: var(--spacing-medium) 0;
        }

        .new-entry-form {
            background-color: var(--color-foreground);
            padding: var(--spacing-extra-large);

            .action-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: var(--spacing-medium) 0;
            }
        }
    }
}
