.empty-message {
    padding: var(--spacing-medium);
    color: rgba(0, 0, 0, .3);
}

.block {
    padding: var(--spacing-medium);
}

.strata-input,
.age-input {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        margin: 0 var(--spacing-small);
    }

    button {
        margin-bottom: var(--spacing-medium);
    }
}

.row {
    display: flex;
    padding: var(--spacing-small) var(--spacing-medium);

    >* {
        flex-grow: 1;
    }
}

.event-row {
    display: flex;
    align-items: flex-end;
    padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

    .event-select-input {
        flex-grow: 1;
        margin: 0 var(--spacing-small);
    }

    .add-event-button {
        flex-shrink: 0;
        margin: var(--spacing-medium) var(--spacing-small);
    }
}

.two-column-row {
    display: flex;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        flex-basis: calc(50% - 2 * var(--spacing-small));
        margin: 0 var(--spacing-small);
    }
}

.three-column-row {
    display: flex;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        flex-basis: calc(100% / 3 - 2 * var(--spacing-small));
        margin: 0 var(--spacing-small);
    }
}

.actions {
    display: flex;
    padding: var(--spacing-medium);

    >* {
        margin-left: var(--spacing-small);
    }
}

.new-entry {
    padding: var(--spacing-large);

    .content {
        display: flex;
        flex-wrap: wrap;

        .main-content {
            flex-grow: 1;
            padding: var(--spacing-medium) calc(var(--spacing-medium) / 2);

            .details {
                border: var(--width-separator-thin) solid var(--color-separator);
                background-color: #fff;
                padding: var(--spacing-large);
            }

            .analysis-and-figures {
                border: var(--width-separator-thin) solid var(--color-separator);
                background-color: #fff;
                padding: var(--spacing-large);
            }

            .review {
                border: var(--width-separator-thin) solid var(--color-separator);
                background-color: #fff;
                padding: var(--spacing-large);

                .review-assignee-input {
                    flex-grow: 1;
                }
            }
        }

        .side-content {
            flex-shrink: 0;
            padding: var(--spacing-medium) calc(var(--spacing-medium) / 2);
            width: calc(200px + 10vw);
        }
    }
}

.add-event-modal {
    .body {
        padding-top: 0;
        padding-bottom: 0;
    }
}
