.footer {
    display: flex;
    align-items: center;
    border-top: var(--width-separator-thin) solid var(--color-separator);
    gap: var(--spacing-medium);

    .content {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .actions {
        flex-shrink: 0;
    }
}
