.container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);

    .add-contact-button {
        border: var(--width-separator-thin) solid var(--color-accent);
        border-radius: var(--spacing-small);
        background-color: transparent;
        padding: var(--spacing-small) var(--spacing-medium);
        color: var(--color-accent);

        .add-icon {
            margin: 0 var(--spacing-small);
        }
    }
}

.row {
    display: flex;
    padding: var(--spacing-small);

    >* {
        flex-grow: 1;
    }
}

.two-column-row {
    display: flex;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        flex-basis: calc(50% - 2 * var(--spacing-small));
        margin: 0 var(--spacing-small);
    }
}

.contact-row {
    display: flex;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        flex-basis: calc(20% - 2 * var(--spacing-small));
        margin: 0 var(--spacing-small);
    }
}