.container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);

    .add-button {
        border: var(--width-separator-thin) solid var(--color-accent);
        border-radius: var(--spacing-small);
        background-color: transparent;
        padding: var(--spacing-small) var(--spacing-medium);
        color: var(--color-accent);

        .add-icon {
            margin: 0 var(--spacing-small);
        }
    }
}

.row {
    display: flex;
    padding: var(--spacing-medium);

    >* {
        flex-grow: 1;
    }
}

.submit-button {
    padding: var(--spacing-medium);
}

.two-column-row {
    display: flex;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        flex-basis: calc(50% - 2 * var(--spacing-small));
        margin: 0 var(--spacing-small);
    }
}

.table {
    width: 100%;

    * {
        border: 0!important;
    }
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: var(--spacing-medium);

    .button {
        margin-left: var(--spacing-medium);
        padding: var(--spacing-small) var(--spacing-large);
    }
}