.form {
    position: relative;

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        .button {
            margin-left: var(--spacing-medium);
            padding: var(--spacing-small) var(--spacing-large);
        }
    }

    .similar-organizations {
        display: flex;
        flex-direction: column;

        .label {
            padding: var(--tui-spacing-small) var(--tui-spacing-medium);
            color: var(--color-text-label);
            font-size: var(--tui-font-size-small);
            font-weight: var(--tui-font-weight-bold);
        }

        .chip-collection {
            display: flex;
            flex-wrap: wrap;

            .chip-layout {
                margin: var(--spacing-small);
                font-size: var(--font-size-small);
            }
        }
    }
}
