.form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--spacing-medium);

    .form-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-medium);
    }

    .similar-organizations {
        display: flex;
        flex-direction: column;

        .label {
            padding: var(--tui-spacing-small) var(--tui-spacing-medium);
            color: var(--color-text-label);
            font-size: var(--tui-font-size-small);
            font-weight: var(--tui-font-weight-bold);
        }

        .chip-collection {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-small);
        }
    }
}
