.download-item {
    padding: var(--spacing-small) 0;

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .actions {
        display: flex;

        >* {
            &:not(:last-child) {
                margin: 0 var(--spacing-small);
            }
        }
    }

    .status {
        display: flex;
        align-items: center;

        /* stylelint-disable-next-line no-descending-specificity */
        >* {
            &:not(:last-child) {
                margin: 0 var(--spacing-small);
            }
        }

        .icon {
            flex-shrink: 0;
            font-size: var(--font-size-medium);
        }

        .text {
            flex-grow: 1;
        }
    }

    .export-item {
        padding: var(--spacing-small) 0;

        /* stylelint-disable-next-line no-descending-specificity */
        >* {
            &:not(:last-child) {
                margin: 0 var(--spacing-extra-small);
            }
        }
    }
}

