.resource-item-container {
    .title {
        flex-grow: 1;
    }

    .last-accessed-on {
        margin-left: var(--spacing-large);
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        color: var(--color-text-disabled);
        font-size: var(--font-size-small);
        font-weight: var(--tui-font-weight-bold);
    }
}

