.four-hundred-three {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    gap: var(--spacing-large);

    .heading {
        font-size: var(--font-size-ultra-large);
        font-weight: var(--font-weight-bold);
    }

    .message {
        text-align: center;
        font-size: var(--font-size-large);
    }
}
