.entries-table {
    overflow-x: auto;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;

        .table {
            width: 100%;
            overflow-x: auto;
        }
    }

    .large-container {
        margin: var(--spacing-medium);
        min-height: 400px;
    }

    .full-width {
        display: flex;
        flex-direction: column;
        margin: calc(var(--spacing-medium) - var(--spacing-small));
    }
}
