.sidebar {
    position: fixed;
    top: var(--height-navbar);
    left: -100%;

    /* FIXME: use variables */
    transition: left 0.2s ease-in-out;

    width: var(--width-sidebar);
    height: calc(100% - var(--height-navbar));
    overflow: auto;

    &.shown {
        left: 0;
    }
}

.content {
    display: flex;

    .sidebar-reserved-space {
        flex-basis: 0;
        flex-shrink: 0;

        /* FIXME: use variables */
        transition: flex-basis 0.2s ease-in-out;
    }

    &.sidebar-shown {
        .sidebar-reserved-space {
            flex-basis: var(--width-sidebar);
            opacity: 1;
        }
    }
}
