.status {
    padding: 0px;

    .signed-off-icon {
        color: var(--color-success);
    }

    .reviewed-icon {
        color: var(--color-accent);
    }

    .under-review-icon {
        color: var(--color-warning);
    }
}
