.status {
    padding: 0px;

    .signed-off-icon {
        color: var(--color-success);
    }

    .approved-icon {
        color: var(--color-accent);
    }

    .review-rerequested-icon {
        color: var(--color-danger);
    },

    .review-inprogress-icon {
        color: var(--color-warning);
    }
}
