.item-row {
    display: flex;
    align-items: center;

    .name {
        flex: 1;
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        visibility: hidden;
    }

    &:hover {
        .action-buttons {
            visibility: visible;
        }
    }
}

