.status-link {
    display: flex;
    gap: var(--spacing-small);
    align-items: baseline;

    .link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
}
