.quick-action-link{
    --padding: var(--spacing-small);

    border-radius: calc(1em + var(--padding) / 2);
    padding: var(--padding);
    font-size: var(--font-size-medium);

    .children {
        padding: 0;
    }
}
