.household-size{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-large);

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;
        gap: var(--spacing-large);
    }
}
