.query-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .column-container {
        display: flex;
        gap: var(--spacing-large);

        .column {
            display: flex;
            flex-basis: 0;
            flex-direction: column;
            flex-grow: 1;
            gap: var(--spacing-medium);
        }
    }

    .input {
        &.hidden {
            display: none;
        }
    }

    .label {
        font-weight: var(--tui-font-weight-bold);

        &.hidden {
            display: none;
        }
    }
}