.comment {
    display: flex;
    gap: var(--spacing-medium);

    .avatar {
        flex-shrink: 0;
        font-size: var(--font-size-super-large);
        font-weight: var(--font-weight-bold);
    }

    .box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .name {
            font-weight: var(--font-weight-bold);
        }

        .date {
            color: var(--color-text-disabled);
            font-size: var(--font-size-small);
        }
    }

    .action-buttons {
        display: flex;
        align-items: center;
        visibility: hidden;
        gap: var(--spacing-small);
    }

    &:hover {
        .action-buttons {
            visibility: visible;
        }
    }
}
