.progress-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-extra-small);

    .track {
        display: flex;
        border-radius: var(--tui-radius-border-input-section);
        background-color: var(--color-background);
        width: 100%;
        overflow: hidden;

        .bar {
            display: flex;
            gap: var(--spacing-small);
            align-items: center;
            transition: width 200ms linear;
            background-color: var(--color-accent);
            height: 100%;
        }
    }

    .label {
        color: var(--color-text);
        font-size: var(--tui-font-size-small);
    }
}

