.age-input {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    >* {
        margin: 0 var(--spacing-small);
    }

    >button {
        margin-bottom: var(--spacing-medium);
    }
}
