.entries-table {
    overflow-x: auto;

    .content {
        display: flex;
        position: relative;

        .table {
            width: 100%;
            overflow-x: auto;

            tr, th, td {
                border: 0!important;
            }

            th, td {
                a {
                    display: block;
                }
            }

            .article-title {
                min-width: 100px;
            }
        }
    }
}


