.entries-table {
    overflow-x: auto;

    .table {
        overflow-x: auto;

        tr, th, td {
            border: 0!important;
        }

        th, td {
            a {
                display: block;
            }
        }

        .article-title {
            min-width: 100px;
        }
    }

    .no-review {
        color: var(--color-text-watermark);
        font-size: var(--font-size-large-medium);
    }
}


