.container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.communication-table {
    min-width: 712px;
    min-height: 400px;
}

.content {
    display: flex;
    position: relative;
    flex-direction: column;

    .table {
        width: 100%;
        overflow-x: auto;
    }
}
