.errored {
    color: var(--tui-color-danger);
}

.block {
    padding: var(--spacing-medium);
}

.actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    justify-content: flex-end;
    font-size: medium;
    font-weight: bold;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .block {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
    }

    .housing-destroyed-container {
        display: flex;
    }

    .empty-message {
        /* FIXME: use approparite color token */
        color: rgba(0, 0, 0, .3);
    }

    .traffic-light {
        align-self: center;
        flex-basis: unset !important;
        flex-grow: unset !important;
    }

    .geo-input {
        height: 300px;
    }

}
