.number-block {
    .value {
        font-size: var(--font-size-extra-large);
    }

    .label {
        color: var(--color-text-label);
        font-size: var(--font-size-small);
    }

    .description {
        color: var(--color-text-label);
        font-size: var(--font-size-small);
        font-style: italic;
    }
}

