.input-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--spacing-small);

    .chip-collection {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-small);

        .chip-layout {
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-size: var(--font-size-small);
        }
    }
}
