.input-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .chip-collection {
        display: flex;
        flex-wrap: wrap;
        /* background-color: var(--tui-color-background-input-section-light); */
        padding: var(--spacing-small) 0;

        .chip-layout {
            margin: var(--spacing-small);
            padding: 0 var(--spacing-small);
            font-size: var(--font-size-small);
        }
    }
}
