.api-usage {
    display: flex;
    width: 100%;
    gap: var(--spacing-large);

    .container {
        min-height: 400px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;
        gap: var(--spacing-large);
    }

    .side-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: calc(160px + 10vw);
        gap: var(--spacing-large);

        .side-pane-container {
            display: flex;
            position: sticky;
            top: var(--spacing-large);

            .side-pane-content {
                display: flex;
                position: relative;
                flex-direction: column;


                .link {
                    padding: var(--spacing-small) var(--spacing-medium);
                }
            }
        }
    }
}
