.container {
    display: flex;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;

        .selected-query {
            background: var(--color-background);
        }
    }
}
