.container {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-medium);

    .search-input {
        margin-bottom: var(--spacing-medium);
    }

    .clear-button {
        margin: calc(-1 * var(--spacing-extra-small));
        padding: 0;
        padding: var(--spacing-extra-small);
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;

        .selected-query {
            background: var(--color-background);
        }
    }
}

