.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    color: var(--color-text-watermark);
    font-size: var(--font-size-large);

    .message {
        padding: var(--spacing-small);
    }
}
