.entry-form {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow: auto;

    .tab-list {
        display: flex;
        flex-shrink: 0;

        >* {
            flex-basis: 0;
            flex-grow: 1;
        }

        .errored {
            color: var(--color-danger);
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--spacing-medium);
        overflow: auto;
        gap: var(--spacing-medium);
    }

    .analysis-and-figures {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--spacing-medium);
        overflow: auto;
        gap: var(--spacing-medium);

        .figures-content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-medium);
        }

        .hidden {
            display: none;
        }

        .empty-message {
            color: rgba(0, 0, 0, .3);
        }
    }
}

.load-failed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-foreground);
    color: var(--color-danger);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}
