.multiplexer {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: auto;
    width: 100vw;
    height: 100vh;

    .navbar {
        flex-shrink: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        z-index: 0;
        overflow: auto;

        .footer {
            display: flex;
            flex-shrink: 0;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            padding: var(--spacing-large);
            gap: var(--spacing-large);

            .links {
                display: flex;
                gap: var(--spacing-large);

                .link {
                    color: rgba(0, 0, 0, .5);
                    font-weight: var(--font-weight-bold);
                }
            }
        }
    }
}

.notification-container {
    display: flex;
    position: fixed;
    bottom: var(--spacing-medium);
    left: 50%;
    flex-direction: column;
    gap: var(--spacing-medium);
    transform: translateX(-50%);
    z-index: 1;

    .notification {
        display: flex;
        border-radius: 3px;
        box-shadow: 0 2px 7px -3px rgba(0, 0, 0, .5);
        background-color: rgba(0, 0, 0, .9);
        padding: var(--spacing-medium);
        width: 420px;
        color: rgba(255, 255, 255, .9);
        font-size: var(--font-size-large);
        gap: var(--spacing-large);

        .icons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
        }

        .children {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
        }

        &.default {
            background-color: var(--color-accent);
            color: var(--color-text-on-accent);
        }

        &.error {
            background-color: var(--color-danger);
            color: var(--color-text-on-danger);
        }

        &.success {
            background-color: var(--color-success);
            color: var(--color-text-on-success);
        }
    }
}
